// https://stackoverflow.com/a/44357038
/* Green - Yellow - Red */
$gradient-colors: (
  0: #57bb8a,
  5: #63b682,
  10: #73b87e,
  15: #84bb7b,
  20: #94bd77,
  25: #a4c073,
  30: #b0be6e,
  35: #c4c56d,
  40: #d4c86a,
  45: #e2c965,
  50: #f5ce62,
  55: #f3c563,
  60: #e9b861,
  65: #e6ad61,
  70: #ecac67,
  75: #e9a268,
  80: #e79a69,
  85: #e5926b,
  90: #e2886c,
  95: #e0816d,
  100: #dd776e,
);

@each $percent, $color in $gradient-colors {
  $anti-percent: 100 - $percent;
  .gradient-#{$percent}, .anti-gradient-#{$anti-percent} {
    background: $color;
    color: #000;
  }
}
