// https://stackoverflow.com/a/44357038
/* Green - Yellow - Red */
.gradient-0 {background: #57bb8a;}
.gradient-5 {background: #63b682;}
.gradient-10 {background: #73b87e;}
.gradient-15 {background: #84bb7b;}
.gradient-20 {background: #94bd77;}
.gradient-25 {background: #a4c073;}
.gradient-30 {background: #b0be6e;}
.gradient-35 {background: #c4c56d;}
.gradient-40 {background: #d4c86a;}
.gradient-45 {background: #e2c965;}
.gradient-50 {background: #f5ce62;}
.gradient-55 {background: #f3c563;}
.gradient-60 {background: #e9b861;}
.gradient-65 {background: #e6ad61;}
.gradient-70 {background: #ecac67;}
.gradient-75 {background: #e9a268;}
.gradient-80 {background: #e79a69;}
.gradient-85 {background: #e5926b;}
.gradient-90 {background: #e2886c;}
.gradient-95 {background: #e0816d;}
.gradient-100 {background: #dd776e;}

/* Red - Yellow - Green */
.anti-gradient-100 {background: #57bb8a;}
.anti-gradient-95 {background: #63b682;}
.anti-gradient-90 {background: #73b87e;}
.anti-gradient-85 {background: #84bb7b;}
.anti-gradient-80 {background: #94bd77;}
.anti-gradient-75 {background: #a4c073;}
.anti-gradient-70 {background: #b0be6e;}
.anti-gradient-65 {background: #c4c56d;}
.anti-gradient-60 {background: #d4c86a;}
.anti-gradient-55 {background: #e2c965;}
.anti-gradient-50 {background: #f5ce62;}
.anti-gradient-45 {background: #f3c563;}
.anti-gradient-40 {background: #e9b861;}
.anti-gradient-35 {background: #e6ad61;}
.anti-gradient-30 {background: #ecac67;}
.anti-gradient-25 {background: #e9a268;}
.anti-gradient-20 {background: #e79a69;}
.anti-gradient-15 {background: #e5926b;}
.anti-gradient-10 {background: #e2886c;}
.anti-gradient-5 {background: #e0816d;}
.anti-gradient-0 {background: #dd776e;}
