.app {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.filter-cell {
  line-height: 35px;
}

.rdg-sort-arrow {
  fill: currentColor;
  margin-left: 10px;

  > path {
    transition: d 0.1s;
  }  
}
